.section {
    background-color: #F9EBDD;
    padding: 12px 0px;
    background-repeat: repeat;
    position: relative;
    margin-bottom: 56px;
}

.sectionBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;    
    background-repeat: repeat;
    opacity: 50%;
    z-index: 2;
}

.geralContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    z-index: 3;
}

.categoriesButton {
    background-color: #4F6C4E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    max-width: 100px;
    text-align: center;
    color: #F5FFF4;
    font-size: .875rem;
    line-height: 1rem;
    font-family: 'Ubuntu';
    font-weight: 500;
    user-select: none;

    transition: 150ms;
}

@media (pointer: fine) {
    .categoriesButton:hover {
        background-color: #254724;
    }
}

@media (pointer: coarse) {
    .categoriesButton:active {
        background-color: #254724;
    }
}

.listContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    z-index: 3;
    margin-right: 16px;
}

.list {
    display: flex;
    gap: 40px;
    padding-right: 16px;

    overflow-x: auto;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

/* Aplicar classe canGoToLeft, quando a distancia
de scrollLeft for 0, o portalzinho pode aparecer */

.leftPortal,
.rightPortal {
    pointer-events: all;
    top: 0;
    width: 70px;
    height: 100%;
    content: '';
    position: absolute;
    transition: 150ms;
    user-select: none;
    display: flex;
    place-content: center;

    background: transparent;
    z-index: 10;
    display: none;
}

.leftPortal {
    left: 0;
}

.rightPortal {
    right: 0;
}

.iconContainer {
    /* opacity: 0; */
    display: flex;
    height: 100%;
    place-items: center;
}

.leftPortal .iconContainer svg {
    transform: rotate(-180deg);
}

.iconContainer svg {
    opacity: 0;
    background-color: #F9EBDD;
    box-shadow: 0 0 0 2px #FFD5CA;
    border-radius: 50%;
    height: 32px;
    transition: 150ms;
    width: 32px;
}

.iconContainer svg path {
    display: flex;
    place-content: center;
    opacity: 0;
    transition: 150ms;
    fill: #FFD5CA;
}

@media (pointer: fine) {
    .canGoToLeft.leftPortal {
        cursor: pointer;
        background: linear-gradient(to left, transparent, #F9EBDD);
        display: flex;   
    }

    .canGoToRight.rightPortal {
        display: flex;
        cursor: pointer;
        background: linear-gradient(to right, transparent, #F9EBDD);
    }
    
    .listContainer:hover .canGoToLeft:hover .iconContainer svg,
    .listContainer:hover .canGoToRight:hover .iconContainer svg,
    .listContainer:hover .canGoToLeft:hover .iconContainer svg path,
    .listContainer:hover .canGoToRight:hover .iconContainer svg path {
        opacity: 1;
    }
    
    .leftPortal:hover svg,
    .rightPortal:hover svg {
        box-shadow: 0 0 0 2px #FA8566;
    }

    .leftPortal:hover svg path,
    .rightPortal:hover svg path {
        fill: #FA8566;
    }
}

@media (pointer: coarse) {
    .list {
        overflow-x: auto;
    }
}

.category {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: max-content;
    gap: 8px;
    user-select: none;

    cursor: pointer;
}

.imageContainer {
    height: 75px;
    width: 75px;

    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid transparent;
    
    transition: 150ms;
}

@media (pointer: fine) {
    .category:hover .image {
        border-color: #FA8566;
        box-shadow: 0 0 0 2px rgba(255, 213, 202, 0.40);
    }
}

@media (pointer: coarse) {
    .category:active .image {
        border-color: #FA8566;
        box-shadow: 0 0 0 2px rgba(255, 213, 202, 0.40);
    }
}

.text {
    font-size: .875rem;
    line-height: 1.125rem;
    color: #241200;
    text-align: center;
    max-width: 75px;

    display: -webkit-box;
    display: -moz-box;
    /* display: box; */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2; /* Define o número máximo de linhas */
    max-height: calc(2 * 1.125rem); /* linhas * line-height */
    overflow: hidden; 
    text-overflow: ellipsis; 
}