.section {
    margin-bottom: 56px;
}

.fullTitleContainer {
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 16px;
    
}

.fullTitle {
    font-size: 1.3125rem;
    line-height: 1.6875rem;

    /* font-size: 18px; */
    font-style: italic;
    font-weight: 500;
    color: #241200;
}

.listName {
    font-weight: 400;
    font-style: normal;
}

.listIcon {
    display: flex;
}

.listIcon path {
    transition: 150ms;
}

@media (pointer: fine) {
    .fullTitleContainer:hover .listIcon path {
        fill: #FA8566;
    }

    .card:hover .image {
        transform: scale(1.1);
    }

    .recipeTitle:hover {
        color: #FA8566;
    }

    .author:hover {
        color: #FA8566;
    }
}

@media (pointer: coarse) {
    .fullTitleContainer:active .listIcon path {
        fill: #FA8566;
    }

    .card:active .image {
        transform: scale(1.1);
    }

    .author:active {
        color: #FA8566;
    }
}

.recipesList {
    margin-top: 24px;
    overflow: auto;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    gap: 32px;
}

.card {
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 400px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
}

.imageContainer {
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;

    transition: 200ms;
}

.info {
    background-color: #FCEEDF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    padding-right: 14px;
    border-radius: 0px 5px 5px 0px;
}

.infoTop {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.author {
    transition: 150ms;
    font-size: .875rem;
    line-height: 1;
    font-weight: 500;
    font-style: italic;
    color: #905E2C;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.infoBottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.iconContainer {
    display: flex;

}

.infoItem p {
    font-size: .875rem;
    line-height: 1;
    color: #905E2C;
    font-weight: 500;
}

.recipeTitle {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 500;
    cursor: pointer;
    transition: 150ms;
    
    color: #241200;
    display: -webkit-box;
    display: -moz-box;
    /* display: box; */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2; /* Define o número máximo de linhas */
    max-height: calc(2 * 1.375rem); /* linhas * line-height */
    overflow: hidden; 
    text-overflow: ellipsis;
}

@media (max-width: 750px) {
    .card {
        min-width: 260px;
        height: 260px;
        grid-template-columns: 1fr;
    }

    .imageContainer {
        border-radius: 5px 5px 0px 0px;
    }
    
    .image {
        border-radius: 5px 5px 0px 0px;
    }

    .info {
        border-radius: 0px 0px 5px 5px;
    }

    .infoBottom {
        margin-top: 16px;
    }
}
