.header {
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 3px 0px rgba(14, 7, 0, 0.15);
    background-color: #FCF5EB;
    position: relative;
    z-index: 5;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 200ms;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    color: #FF724C;
    font-family: 'Lora';
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.54px;
    user-select: none;
}

.right {
    display: flex;
}

.searchContainer {
    position: relative;
    margin-right: 32px;
    user-select: none;
}

.input {
    padding: 13px 16px 13px calc(16px + 24px + 16px);
    transition: 200ms;
    background-color: #FAF2E8;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    font-size: 1rem;
    line-height: 1;
    font-family: 'Ubuntu';
    border: 2px solid #D6C7B3;
    color: #241200;
    outline: none;
    width: 260px;
}

.input::placeholder {
    color: #AE9F88;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.searchIcon {
    position: absolute;
    top: 13px;
    pointer-events: none;
    left: 16px;
}


.searchIcon path {
    transition: 300ms;
}

.searchContainer:has(.input:focus) .searchIcon path {
    fill: #FA8566;
}

.searchContainer:has(.input:focus) .input {
    width: 360px;
}

.input:focus {
    border-color: #FA8566;
    box-shadow: 0 0 0 2px #FFD5CA;
}

.shareButton {
    background-color: #FF724C;
}

.orangeButton {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: max-content;
}

.rightButtons {
    display: flex;
    gap: 16px;
}

@media (max-width: 950px) {
    .searchContainer:has(.input:focus) .input {
        width: 260px;
    }

    .searchContainer {
        margin-right: 16px;
    }
}

.header .menuMobile {
    display: none;
}

.header .menuMobile.active {
    background-color: #DC5834;
}

.menu {
    margin-top: 16px;
    transition: 200ms;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.searchContainer.isMobileButton {
    display: flex;
    width: 100%;
    margin-right: 0px;
}

.searchContainer.isMobileButton .input {
    width: 100%;
    display: flex;
}

.loginButton.isMobileButton {
    min-width: 100%;
    justify-content: center;
    display: flex;
    padding: 10px 6px !important;
}

.loginButton.shareButton.isMobileButton {
    padding: 13px 6px !important;
}

.loginButton, .shareButton {
    padding: 14px 16px !important;
}

@media (max-width: 750px) {
    .searchContainer:has(.input:focus) .input {
        width: 100%;
    }

    .header .menuMobile {
        display: flex;
    }

    .loginButton:not(.isMobileButton) {
        display: none;
    }

    .searchContainer {
        display: none;
    }
}

@media (max-width: 500px) {
    .logoContainer {
        gap: 6px;
    }

    .logo {
        font-size: 1.875rem;
    }

    .logoContainer svg {
        height: 30px;
        width: 30px;
    }

    .menuText {
        display: none;
    }

    .menuMobile {
        padding: 10px !important;
    }
}